/* Main Page */

.main-page h1,
.main-page ul {
    font-weight: lighter;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}


.main-page h1 {
    text-align: center;
    color: rgb(32, 5, 41);
    font-size: 40px;

}

.main-page ul {
    text-align: left;
    font-size: 20px;
}

/* Avocado Page */

.avocado-page {
    background-color: rgb(208, 255, 208);
    font-family:cursive;
    border-color: black;
    border-style: ridge;
    text-align: center;
    font-size: 17px;

}

.avocado-page .title {
    font-weight: lighter;
    background-color: rgb(68, 194, 68);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.avocado-page img {
    height: auto;
    width: 400px;
}

/* Baked Potato */

.potato-page {
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style:groove;
    border-color: whitesmoke;
    text-align:center;
    font-size: 17.5px;

}

.potato-page .title {
    font-weight: bolder;
    font-family: fantasy;
    font-size: 40px;
}

.potato-page img {
    height: auto;
    width: 350px;
}

.potato-page ul,
.potato-page ol {
    text-align: left;
    list-style: georgian;
}

.potato-page .Steps,
.potato-page .Ingredients {
    text-align: left;
}

/* Grilled Salmon Page */

.salmon-page {
    background-color: rgb(255, 177, 76);
    font-family: monospace;
    border-style: outset;
    border-color: rgb(169, 100, 11);
    text-align: center;
    font-size: 19px;
    outline-style: dotted;
}

.salmon-page .title {
    font-weight: bolder;
    font-size: 45px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    background-color: white;
}

.salmon-page img {
    height: auto;
    width: 300px;
}

















