/* Main Page */

.main-page h1,
.main-page ul {
    font-weight: lighter;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}


.main-page h1 {
    text-align: center;
    color: rgb(32, 5, 41);
    font-size: 40px;

}

.main-page ul {
    text-align: left;
    font-size: 20px;
}

/* Avocado Page */

.avocado-page {
    background-color: rgb(208, 255, 208);
    font-family:cursive;
    border-color: black;
    border-style: ridge;
    text-align: center;
    font-size: 17px;

}

.avocado-page .title {
    font-weight: lighter;
    background-color: rgb(68, 194, 68);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.avocado-page img {
    height: auto;
    width: 400px;
}









